<h1 class="mt-23 pt-24">payments</h1>

<form [formGroup]="filterForm" (ngSubmit)="getPayments()">

  <select formControlName="bill_id">
  <option value="">All Bills</option>

  @for (payment of paymentsList; track $index) {
    <option [value]="payment.bill_id">
      Bill #{{ payment.bill_id }}
    </option>
  }
</select>

  <select formControlName="payment_mode">
    <option value="">Select payment mode</option>
    <option value="cash">Cash</option>
    <option value="cheque">Cheque</option>
    <option value="bank transfer">Bank Transfer</option>
    <option value="Credit Card">Credit Card</option>
    <option value="Debit Card">Debit Card</option>
    <option value="Insurance">Insurance</option>
    <option value="Online Payment">Online Payment</option>
  </select>

  <select formControlName="payment_status">
    <option value="">All Status</option>
    <option value="completed">Completed</option>
    <option value="paid">Paid</option>
    <option value="pending">Pending</option>
  </select>

  <input type="date" formControlName="from_date" />
  <input type="date" formControlName="to_date" />

  <button type="submit">Filter</button>
  <button type="button" (click)="resetFilters()">Reset</button>

</form>

<h2>Payments List</h2>

<table border="1">
  <thead>
    <tr>
      <th>Amount Paid</th>
      <th>Payment Mode</th>
      <th>Cheque no</th>
      <th>Bank No</th>
      <th>Date</th>
      <th>Payment Status</th>
      <th>Transaction Reference</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    @for (payment of paymentsList; track $index) {
      <tr>
        <td>{{ payment.amount_paid }}</td>
        <td>{{ payment.payment_mode }}</td>
        <td>{{ payment.check_number }}</td>
        <td>{{ payment.bank_name }}</td>
        <td>{{ payment.payment_date | date:'MMM d, y'}}</td>
        <td>{{ payment.payment_status }}</td>
        <td>{{ payment.transaction_reference }}</td>
        <td>{{ payment.notes ? payment.notes : 'N/A' }}</td>
         <button 
  [routerLink]="['/payments/edit', payment.id]"
  class="bg-blue-500 text-white font-medium px-4 py-2 rounded-lg transform hover:scale-105 mr-2"
>
  Edit
</button>

<button 
  (click)="deletePayment(payment.id)"
  class="bg-red-500 text-white font-medium px-4 py-2 transform hover:scale-105 rounded-lg "
>
  Delete
</button>
      </tr>
    }  
  </tbody>
</table>